@if (isLoading) {
<div class="loading">Loading...</div>
}

@if (!isLoading) {
<div class="form-fields">
  @if (readOnly) {
    <span class="readonly-enum">{{ selectControl.value }}</span>
  } @else {
    <mat-form-field>
      <mat-label>{{ dataInfo?.label }}</mat-label>
      <mat-select [formControl]="selectControl">
        @for (option of dataInfo?.enum_values; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>
}
