<div class="auth-card">
  <h1 class="auth-title">Log In</h1>

  <form [formGroup]="form" (submit)="onSignIn()" class="auth-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input id="email" matInput type="text" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input id="password"
             matInput
             [type]="hidePassword ? 'password' : 'text'"
             formControlName="password" />
      <button type="button"
              matSuffix
              (click)="togglePasswordVisibility()"
              class="password-toggle">
        <mat-icon>
          {{
          hidePassword ? "visibility_off" : "visibility"
          }}
        </mat-icon>
      </button>
    </mat-form-field>

    <mat-checkbox id="remember" formControlName="remember">Remember Me</mat-checkbox>

    <button mat-raised-button id="signIn" color="primary" type="submit">Sign in</button>
  </form>

  <a
    id="create-account-link"
    [routerLink]="'/register'"
    color="primary"
    class="auth-link"
  >
    Create an account
  </a>
</div>
